[mongo]
#host=localhost
#port=
#username=None
#password=None
database=test_db
collection=documents
#fs_collection=fs
#auth_database=(database)
#auth_mechanism=SCRAM-SHA-256

[mq]
#host=localhost
#port=
#username=None
#password=None
queue=test_queue

[logging]
level=INFO
