click==7.1.2
isodate==0.6.0
Jinja2==2.11.3
markdown2==2.4.0
MarkupSafe==1.1.1
pathvalidate==2.4.1
pika==1.2.0
pymongo==3.11.3
pyparsing==2.4.7
python-slugify==4.0.1
PyYAML==5.4.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
six==1.15.0
tenacity==7.0.0
text-unidecode==1.3
