certifi==2021.5.30
click==8.0.1
colorama==0.4.4
isodate==0.6.0
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
mdx-breakless-lists==1.0.1
minio==7.1.0
pathvalidate==2.5.0
psycopg2==2.9.1
pyparsing==2.4.7
python-dateutil==2.8.2
python-slugify==5.0.2
PyYAML==5.4.1
rdflib==6.0.1
rdflib-jsonld==0.6.2
six==1.16.0
tenacity==8.0.1
text-unidecode==1.3
urllib3==1.26.7
