click==7.1.2
isodate==0.6.0
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
mdx-breakless-lists==1.0.1
panflute==2.1.0
pathvalidate==2.4.1
pika==1.2.0
pyparsing==2.4.7
python-slugify==5.0.2
PyYAML==5.4.1
rdflib==6.0.0
rdflib-jsonld==0.5.0
six==1.16.0
tenacity==8.0.1
text-unidecode==1.3
