{% extends 'layout.html.j2' %}

{% block title %}Example Document{% endblock %}

{% block body %}
    <h1>Example document</h1>

    <h2>Czech symbols</h2>

    <p>ěščřžýáíéůúďťň</p>

    <h2>Context</h2>

    <pre>{{ ctx|tojson(2) }}</pre>
{% endblock %}
